:host {
  display: inline-block;
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border);
  background-color: var(--color-background-primary);
  //   overflow: hidd   en;
  cursor: text;
  transition: border-color 0.2s ease;

  &.size-sm {
    input {
      font-size: var(--font-size-xs);
    }
  }

  &.size-md {
    input {
      font-size: var(--font-size-sm);
    }
  }

  &.size-lg {
    input {
      font-size: var(--font-size-md);
    }
  }

  input {
    // border: 1px solid red;
    border: none;

    outline: none;
    width: 100%;
    color: var(--color-text-primary);
    font-size: var(--font-size-sm);
    background-color: transparent;
  }

  &.focused {
    border-color: var(--color-primary);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.error {
    border-color: var(--color-danger);
  }

  &.full-width {
    width: 100%;
  }

  .actions {
    flex-shrink: 0;
    align-self: stretch;
  }

  .action-button {
    // padding: var(--spacing-3xs);
    border-left: 1px solid var(--color-border);
  }
}
