<app-flex direction="row" alignItems="center" gap="3xs">
  <app-flex padding="2xs" gap="xs" alignItems="center">
    @if (icon()) {
      <app-icon [name]="icon()!" size="xs" [color]="errorMessage() ? 'danger' : 'text-secondary'" />
    }

    <input
      #inputElement
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [readonly]="readonly()"
      [value]="value()"
      (input)="onInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />
  </app-flex>

  <!-- Actions -->
  @if (actions() !== null && actions()!.length > 0) {
    <app-flex direction="row">
      @for (action of actions(); track $index) {
        <app-button
          class="action-button"
          [text]="action.label!"
          [iconLeft]="action.icon!"
          variant="ghost"
          size="md"
          radius="none"
          [disabled]="action.disabled"
          [tooltip]="
            !action!.disabled
              ? {
                  content: action.tooltip || '',
                  delay: 300,
                }
              : null
          "
          (click)="action.callback()"
        />
      }
    </app-flex>
  }
</app-flex>
