<app-flex direction="row" alignItems="stretch" [fullWidth]="fullWidth()">
  <app-flex
    [padding]="currentConfig().padding"
    [gap]="currentConfig().gap"
    alignItems="center"
    fullWidth
  >
    @if (icon()) {
      <app-icon
        [name]="icon()!"
        [size]="currentConfig().iconSize"
        [color]="errorMessage() ? 'danger' : 'text-secondary'"
      />
    }

    <input
      #inputElement
      [type]="type()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [readonly]="readonly()"
      [value]="value()"
      [attr.name]="name()"
      [attr.maxlength]="maxLength()"
      [attr.autocomplete]="autocomplete()"
      [attr.autocorrect]="autocorrect()"
      [attr.autocapitalize]="autocapitalize()"
      [attr.spellcheck]="spellcheck()"
      (input)="onInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />
  </app-flex>

  <!-- Actions -->
  @if (actions() !== null && actions()!.length > 0) {
    <app-flex direction="row" class="actions" fullHeight>
      @for (action of actions(); track $index) {
        <app-button
          class="action-button"
          [text]="action.label!"
          [iconLeft]="action.icon!"
          variant="ghost"
          [size]="currentConfig().buttonSize"
          radius="none"
          [disabled]="action.disabled"
          [tooltip]="
            !action!.disabled
              ? {
                  content: action.tooltip || '',
                  delay: 300,
                }
              : null
          "
          (click)="action.callback()"
        />
      }
    </app-flex>
  }
</app-flex>
