<app-flex direction="column" padding="2xs" class="context-menu">
  @for (item of items(); track $index) {
    <div class="context-menu-item-wrapper">
      <app-button
        [text]="item.label"
        variant="ghost"
        [color]="item.color ?? 'gray'"
        size="sm"
        [iconLeft]="item.icon!"
        [iconRight]="item.subItems ? 'lucideChevronRight' : null"
        fullWidth
        (clicked)="onItemClick(item)"
        [popover]="
          item.subItems && submenuTemplate
            ? {
                content: submenuTemplate!,
                contentContext: { $implicit: item.subItems },
                trigger: 'hover',
                position: 'right-top',
                closeOnClickOutside: false,
                showCloseButton: false,
              }
            : null
        "
      />
    </div>
  }
</app-flex>

<ng-template #submenuTemplate let-subItems>
  <app-context-menu [items]="subItems" (itemClicked)="itemClicked.emit($event)" />
</ng-template>
