<ng-container *ngTemplateOutlet="menuItems; context: { $implicit: items() }" />

<ng-template #menuItems let-items>
  @for (item of items; track item.id) {
    @if (item.separator) {
      <div class="context-menu-separator"></div>
    } @else {
      <div class="context-menu-item-wrapper">
        <button
          type="button"
          class="context-menu-item"
          [class.disabled]="item.disabled"
          [class.has-submenu]="item.submenu"
          [disabled]="item.disabled"
          (click)="onItemClick(item)"
          role="menuitem"
        >
          @if (item.icon) {
            <app-icon [name]="item.icon" size="sm" />
          }
          <span class="context-menu-label">{{ item.label }}</span>
          @if (item.submenu) {
            <app-icon name="lucideChevronRight" size="sm" class="context-menu-arrow" />
          }
        </button>

        @if (item.submenu) {
          <div class="context-menu-submenu">
            <ng-container *ngTemplateOutlet="menuItems; context: { $implicit: item.submenu }" />
          </div>
        }
      </div>
    }
  }
</ng-template>
