@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss' as *;

.code-content {
  position: relative;

  pre {
    code {
      font-size: var(--font-size-sm);
      background-color: var(--color-surface);
      color: var(--color-text-secondary);

      // Vos styles personnalisés avec ::ng-deep pour percer l'encapsulation
      ::ng-deep .hljs-keyword,
      ::ng-deep .hljs-selector-tag,
      ::ng-deep .hljs-literal {
        color: var(--color-blue);
      }

      ::ng-deep .hljs-string,
      ::ng-deep .hljs-title {
        color: var(--color-orange);
      }

      ::ng-deep .hljs-number,
      ::ng-deep .hljs-attr {
        color: var(--color-purple);
      }

      ::ng-deep .hljs-function {
        color: var(--color-yellow);
      }

      ::ng-deep .hljs-comment {
        color: var(--color-green);
        font-style: italic;
      }

      ::ng-deep .hljs-variable,
      ::ng-deep .hljs-type {
        color: var(--color-teal);
      }
    }
  }

  .copy-button {
    display: none;
    position: absolute;
    top: var(--spacing-2xs);
    right: var(--spacing-2xs);
  }

  &:hover {
    .copy-button {
      display: block;
    }
  }
}
