<pre><code #codeBlock [attr.data-language]="language()"></code></pre>

@if (copyable()) {
  <app-button
    class="copy-button"
    variant="outline"
    size="sm"
    [iconLeft]="copied() ? 'lucideCheck' : 'lucideCopy'"
    [tooltip]="{
      content: copied() ? 'Copié' : 'Copier',
    }"
    (clicked)="copyCode()"
  />
}

@if (expandable()) {
  <app-flex
    class="shadow-container"
    padding="lg"
    justifyContent="center"
    alignItems="center"
    fullWidth
  >
    <app-button
      variant="outline"
      [text]="!expanded() ? 'Voir le code' : 'Masquer le code'"
      (clicked)="toggleExpansion()"
    />
  </app-flex>
}
