@use '../../../shared/styles/mixins.scss' as *;

:host {
  position: relative;
  display: block; // Ensure :host is a block element
  height: 100%; // Take full height
  box-sizing: border-box;
  flex-shrink: 0; // Prevent flex from shrinking the sidebar
  flex-grow: 0; // Prevent flex from growing the sidebar
  border-right: 1px solid var(--color-border);
  padding: var(--spacing-sm);
  background-color: var(--color-background-primary); // For debug purposes, to be removed
  overflow: auto; // Ensure content doesn't overflow

  /*************************/
  /***** Resize Handle *****/
  /*************************/

  $resizeHandleWidth: 4px;

  .resize-handle {
    position: absolute;
    top: 0;
    right: -1px; // Position it over the border
    width: $resizeHandleWidth;
    height: 100%;
    cursor: ew-resize;
    transition: background-color 0.2s ease;
    z-index: 999; // Ensure the resize handle is above everything

    &:hover,
    &.resizing {
      background-color: var(--color-primary);
    }

    $additionalClickableWidth: 8px; // +4px from each side

    // Invisible element to increase the clickable area
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -($additionalClickableWidth / 2) - $resizeHandleWidth;
      width: $resizeHandleWidth + $additionalClickableWidth;
      height: 100%;
      z-index: 10; // Same z-index as parent to ensure it's clickable
    }
  }
}
