@use '../../../shared/styles/mixins.scss' as *;

:host {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0; // Prevent flex from shrinking the sidebar
  flex-grow: 0; // Prevent flex from growing the sidebar
  border-right: 1px solid var(--color-border);

  // TODO : Replace by final app icon
  .circle {
    width: var(--spacing-xl);
    height: var(--spacing-xl);
    border-radius: var(--radius-full);
    background: var(--color-text-primary);
  }

  /*************************/
  /***** Resize Handle *****/
  /*************************/

  $resizeHandleWidth: 2px;

  .resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: $resizeHandleWidth;
    height: 100%;
    cursor: ew-resize;
    transition: background-color 0.2s ease;

    &:hover,
    &.resizing {
      background-color: var(--color-primary);
    }

    $additionalClickableWidth: 8px; // +4px from each side

    // Invisible element to increase the clickable area
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -($additionalClickableWidth / 2) - $resizeHandleWidth;
      width: $resizeHandleWidth + $additionalClickableWidth;
      height: 100%;
    }
  }
}
