@use '../../../shared/styles/mixins.scss' as *;

:host {
  padding: var(--spacing-sm);
  border-right: 1px solid var(--color-border);

  &.expanded {
    width: 200px;
  }

  .sidebar-header {
    height: 80px;
  }

  .circle {
    width: 32px;
    height: 32px;
    border-radius: var(--radius-full);
    background: var(--color-text);
  }

  .label {
    color: var(--color-text);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
  }

  .user-avatar-button {
    padding: var(--spacing-2xs);
    border-radius: var(--radius-md);
    background-color: transparent;
    border: 1px solid transparent;
    transition: all var(--transition-base);
    cursor: pointer;
    user-select: none;

    &:hover {
      @include hover-light(var(--color-gray));
    }

    &:active:not(:disabled) {
      @include active-light(var(--color-gray));
      transform: translateY(0.5px);
    }

    &.active {
      @include hover-light(var(--color-gray));
    }
  }
}
