<app-flex direction="column" gap="lg" fullHeight>
  <!-- Header -->
  <app-flex
    direction="row"
    alignItems="center"
    justifyContent="center"
    gap="md"
    class="sidebar-header"
    (mouseenter)="isHoveringLogo.set(true)"
    (mouseleave)="isHoveringLogo.set(false)"
    [class.expanded]="expanded()"
  >
    @if (expanded() || !isHoveringLogo()) {
      <app-flex
        direction="row"
        alignItems="center"
        [padding]="expanded() ? 'sm' : 'none'"
        [fullWidth]="expanded()"
        gap="sm"
      >
        <div class="circle"></div>
        @if (expanded()) {
          <h1 class="label">Planer</h1>
        }
      </app-flex>
    }

    @if (expanded() || isHoveringLogo()) {
      <app-button
        [icon]="{ name: expanded() ? 'lucidePanelLeftClose' : 'lucidePanelLeftOpen' }"
        variant="ghost"
        color="gray"
        size="md"
        [tooltip]="{
          content: expanded() ? 'Réduire la barre latérale' : 'Développer la barre latérale',
          position: 'right',
        }"
        (clicked)="expanded.set(!expanded())"
      ></app-button>
    }
  </app-flex>

  <!-- Navigation principale -->
  <app-flex direction="column" gap="xs" fullWidth fullHeight>
    <app-sidebar-item
      label="Playground"
      iconName="lucidePlay"
      routerLink="/playground"
      [expanded]="expanded()"
    />
    <app-sidebar-item
      label="Accueil"
      iconName="lucideHome"
      routerLink="/home"
      [expanded]="expanded()"
    />
    <app-sidebar-item
      label="Calendrier"
      iconName="lucideCalendar"
      routerLink="/calendar"
      [expanded]="expanded()"
    />
    <app-sidebar-item
      label="Utilisateurs"
      iconName="lucideUsers"
      routerLink="/users"
      [expanded]="expanded()"
    />
    <app-sidebar-item
      label="Ressources"
      iconName="lucideBox"
      routerLink="/ressources"
      [expanded]="expanded()"
    />
    <app-sidebar-item label="Plus" iconName="lucideEllipsis" [expanded]="expanded()" />
  </app-flex>

  <!-- Footer -->
  <app-flex direction="column" gap="xs" fullWidth>
    <app-sidebar-item
      [label]="'Thème ' + (currentTheme() === 'light' ? 'sombre' : 'clair')"
      [iconName]="iconNameTheme()"
      [expanded]="expanded()"
      (clicked)="toggleTheme()"
    />
    <app-sidebar-item
      label="Paramètres"
      iconName="lucideSettings"
      routerLink="/settings"
      [expanded]="expanded()"
    />

    <!-- Utilisateur-->
    <app-flex
      direction="row"
      alignItems="center"
      [justifyContent]="expanded() ? 'between' : 'center'"
      gap="xs"
      class="user-avatar-button"
      [tooltip]="{
        content: 'Tom Lavergne',
        disabled: expanded(),
        position: 'right',
      }"
    >
      <app-flex direction="row" alignItems="center" gap="xs">
        <app-avatar imageUrl="/img/profil.png" size="sm" />
        @if (expanded()) {
          <app-text color="text">Tom Lavergne</app-text>
        }
      </app-flex>
      @if (expanded()) {
        <app-icon name="lucideChevronsUpDown" size="20" color="text"></app-icon>
      }
    </app-flex>
  </app-flex>
</app-flex>
