<app-flex direction="column" gap="2xs" padding="sm" fullHeight class="flexy">
  <!-- Resize handle -->
  <div
    class="resize-handle"
    [class.collapsed]="!expanded()"
    [class.resizing]="isResizing()"
    [tooltip]="{
      content: resizeHandleTooltip(),
      position: 'right',
      delay: 500,
      followMouse: true,
    }"
    (mousedown)="onResizeStart($event)"
  ></div>

  <!-- Header -->
  <app-flex alignItems="center" justifyContent="between" gap="sm">
    <!-- Planer Button -->
    <app-button
      variant="ghost"
      size="xs"
      [tooltip]="
        expanded()
          ? null
          : {
              content: 'Accueil',
              position: 'right',
              delay: 500,
            }
      "
    >
      <app-flex alignItems="center" gap="2xs">
        <!-- Logo Icon -->
        <div class="circle"></div>

        @if (expanded()) {
          <!-- Logo Text -->
          <app-text size="lg" weight="medium" color="foreground-primary">Planer</app-text>

          <!-- Chevron Icon -->
          <app-icon
            name="lucideChevronDown"
            size="xs"
            color="foreground-primary"
            class="home-icon"
          />
        }
      </app-flex>
    </app-button>

    @if (expanded()) {
      <app-button
        routerLink="/documentation"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [variant]="rla.isActive ? 'soft' : 'ghost'"
        [color]="rla.isActive ? 'primary' : null"
        size="sm"
        iconLeft="lucideFileText"
        [tooltip]="{
          content: 'Documentation',
          position: 'right',
          delay: 500,
          disabled: expanded(),
        }"
      />
    }
  </app-flex>

  <app-separator />

  <!-- Navigation principale -->
  <app-flex direction="column" gap="2xs" fullWidth fullHeight>
    @for (item of navigationItems; track $index) {
      <app-button
        [routerLink]="item.path"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [text]="expanded() ? item.label : ''"
        [variant]="rla.isActive ? 'soft' : 'ghost'"
        [color]="rla.isActive ? 'primary' : null"
        size="sm"
        [iconLeft]="item.iconName"
        fullWidth
        [tooltip]="{
          content: item.label,
          position: 'right',
          delay: 500,
          disabled: expanded(),
        }"
      />
    }

    @if (expanded()) {
      <app-button text="Plus" variant="ghost" size="sm" iconLeft="lucideEllipsis" fullWidth />
    }
  </app-flex>

  <!-- Footer -->
  <app-flex direction="column" gap="2xs" fullWidth>
    <app-button
      [text]="expanded() ? 'Configurer le theme' : ''"
      variant="ghost"
      size="sm"
      iconLeft="lucidePalette"
      [popover]="{
        content: themeConfigurator,
        position: 'right-bottom',
      }"
      fullWidth
    />

    <ng-template #themeConfigurator>
      <app-theme-configurator />
    </ng-template>

    <app-button
      routerLink="settings"
      routerLinkActive="active"
      #rla="routerLinkActive"
      [text]="expanded() ? 'Paramètres' : ''"
      [variant]="rla.isActive ? 'soft' : 'ghost'"
      [color]="rla.isActive ? 'primary' : null"
      size="sm"
      iconLeft="lucideSettings"
      fullWidth
      [tooltip]="{
        content: 'Paramètres',
        position: 'right',
        delay: 500,
        disabled: expanded(),
      }"
    />
    <app-separator />

    <app-button variant="ghost" size="xs" fullWidth>
      <app-flex
        direction="row"
        alignItems="center"
        [justifyContent]="expanded() ? 'between' : 'center'"
        gap="xs"
        fullWidth
      >
        <app-flex direction="row" alignItems="center" gap="2xs">
          <app-avatar imageUrl="/img/profil.png" [size]="expanded() ? 'sm' : 'xs'" />

          @if (expanded()) {
            <app-flex direction="column" gap="4xs">
              <app-text color="foreground-secondary" size="sm" weight="medium">
                Tom Lavergne
              </app-text>
            </app-flex>
          }
        </app-flex>

        @if (expanded()) {
          <app-icon name="lucideChevronsUpDown" size="xs" color="foreground-secondary" />
        }
      </app-flex>
    </app-button>
  </app-flex>
</app-flex>
