<app-flex direction="column" gap="lg" fullHeight>
  <!-- Header -->
  <app-flex
    direction="row"
    alignItems="center"
    justifyContent="center"
    gap="md"
    class="sidebar-header"
    (mouseenter)="isHoveringLogo.set(true)"
    (mouseleave)="isHoveringLogo.set(false)"
    [class.expanded]="expanded()"
  >
    @if (expanded() || !isHoveringLogo()) {
      <app-flex
        direction="row"
        alignItems="center"
        [padding]="expanded() ? 'xs' : 'none'"
        [fullWidth]="expanded()"
        gap="sm"
      >
        <div class="circle"></div>
        @if (expanded()) {
          <h1 class="label">Planer</h1>
        }
      </app-flex>
    }

    @if (expanded() || isHoveringLogo()) {
      <app-button
        [icon]="{ name: expanded() ? 'lucidePanelLeftClose' : 'lucidePanelLeftOpen' }"
        variant="ghost"
        color="gray"
        size="xs"
        [tooltip]="{
          content: expanded() ? 'Réduire la barre latérale' : 'Développer la barre latérale',
          position: 'right',
        }"
        (clicked)="expanded.set(!expanded())"
      ></app-button>
    }
  </app-flex>

  <!-- Navigation principale -->
  <app-flex direction="column" gap="2xs" fullWidth>
    <app-sidebar-item
      label="Playground"
      iconName="lucidePlay"
      routerLink="/playground"
      [expanded]="expanded()"
    />
    <app-sidebar-item
      label="Accueil"
      iconName="lucideHome"
      routerLink="/home"
      [expanded]="expanded()"
    />
    <app-sidebar-item
      label="Calendrier"
      iconName="lucideCalendar"
      routerLink="/calendar"
      [expanded]="expanded()"
    />
    <app-sidebar-item
      label="Utilisateurs"
      iconName="lucideUsers"
      routerLink="/users"
      [expanded]="expanded()"
    />
    <app-sidebar-item
      label="Ressources"
      iconName="lucideBox"
      routerLink="/ressources"
      [expanded]="expanded()"
    />

    @if (expanded()) {
      <app-accordion
        title="Plus"
        variant="ghost"
        size="xs"
        iconLeftName="lucideEllipsis"
        [contentPadding]="false"
        startOpen
      >
        <app-flex
          direction="column"
          alignItems="center"
          gap="2xs"
          class="accordion-header"
          fullWidth
        >
          <app-sidebar-item
            label="Projet A"
            iconName="lucideFolder"
            routerLink="/projects/a"
            [expanded]="expanded()"
          />
          <app-sidebar-item
            label="Projet B"
            iconName="lucideFolder"
            routerLink="/projects/b"
            [expanded]="expanded()"
          />
          <app-sidebar-item
            label="Projet C"
            iconName="lucideFolder"
            routerLink="/projects/c"
            [expanded]="expanded()"
          />
        </app-flex>
      </app-accordion>
    }
  </app-flex>

  <app-spacer fullHeight (clicked)="expanded.set(true)" />

  <!-- Footer -->
  <app-flex direction="column" gap="2xs" fullWidth>
    <app-button
      [text]="expanded() ? 'Thème ' + (currentTheme() === 'light' ? 'sombre' : 'clair') : ''"
      variant="ghost"
      color="gray"
      size="xs"
      [icon]="{
        name: iconNameTheme(),
        position: 'left',
      }"
      (clicked)="toggleTheme()"
      fullWidth
    />
    <app-sidebar-item
      label="Paramètres"
      iconName="lucideSettings"
      routerLink="/settings"
      [expanded]="expanded()"
    />

    <!-- Utilisateur-->
    <app-flex
      direction="row"
      alignItems="center"
      [justifyContent]="expanded() ? 'between' : 'center'"
      gap="xs"
      class="user-avatar-button"
      [tooltip]="{
        content: 'Tom Lavergne',
        disabled: expanded(),
        position: 'right',
      }"
    >
      <app-flex direction="row" alignItems="center" gap="xs">
        <app-avatar imageUrl="/img/profil.png" size="xs" />
        @if (expanded()) {
          <app-text color="text" size="sm">Tom Lavergne</app-text>
        }
      </app-flex>
      @if (expanded()) {
        <app-icon name="lucideChevronsUpDown" size="xs" color="text"></app-icon>
      }
    </app-flex>
  </app-flex>
</app-flex>
