<div class="radio-group">
  @for (option of options(); track option.value) {
    <label class="radio-wrapper">
      <div class="radio-container">
        <input
          type="radio"
          [name]="name()"
          [value]="option.value"
          [checked]="isSelected(option.value)"
          [disabled]="option.disabled || disabled()"
          (change)="selectOption(option)"
          class="radio-input"
        />
        <div class="radio-circle">
          <div class="radio-dot"></div>
        </div>
      </div>

      <span class="radio-label">{{ option.label }}</span>
    </label>
  }
</div>
