<app-sidebar [expanded]="true" showGoBackButton>
  <app-flex direction="column" gap="md" fullWidth>
    <app-flex direction="column" gap="lg" class="documentation-sidebar">
      @for (item of indexConfiguration; track $index) {
        @if (item.content) {
          <!-- Section -->
          <app-flex direction="column" gap="xs">
            <!-- Titre Section -->
            <app-text size="xs" weight="regular" color="text-secondary" class="section-title">{{
              item.name
            }}</app-text>

            <!-- Contenu de la section -->
            <app-flex direction="row" gap="xs">
              <!-- Items -->
              <app-flex direction="column" gap="2xs" fullWidth>
                @for (item of item.content; track $index) {
                  <app-sidebar-item
                    [text]="item.name"
                    [icon]="item.icon"
                    [path]="item.path"
                    size="md"
                  />
                }
              </app-flex>
            </app-flex>
          </app-flex>
        } @else {
          <app-sidebar-item [text]="item.name" [icon]="item.icon" [path]="item.path" size="sm" />
        }
      }
    </app-flex>
  </app-flex>
</app-sidebar>
