<app-sidebar [(expanded)]="expanded" expandable>
  <app-flex direction="column" gap="xs" fullHeight>
    <!-- Header -->
    <app-flex alignItems="center" justifyContent="between" gap="sm">
      <!-- Planer Button -->
      <app-button
        variant="ghost"
        size="xs"
        [tooltip]="
          expanded()
            ? null
            : {
                content: 'Accueil',
                position: 'right',
                delay: 500,
              }
        "
      >
        <app-flex alignItems="center" gap="2xs">
          <!-- Logo Icon -->
          <app-shape type="circle" size="sm" color="background-inverse" />

          @if (expanded()) {
            <!-- Logo Text -->
            <app-text size="lg" weight="medium" color="text-primary">Planer</app-text>

            <!-- Chevron Icon -->
            <app-icon name="lucideChevronDown" size="xs" color="text-primary" class="home-icon" />
          }
        </app-flex>
      </app-button>
    </app-flex>

    <app-separator />

    <!-- Navigation principale -->
    <app-flex direction="column" gap="2xs" fullWidth fullHeight>
      <app-sidebar-item
        text="Accueil"
        path="/home"
        icon="lucideHome"
        size="md"
        [expanded]="expanded()"
      />

      <app-sidebar-item
        text="Calendrier"
        path="/calendar"
        icon="lucideCalendar"
        size="md"
        [expanded]="expanded()"
      />

      <app-sidebar-item
        text="Utilisateurs"
        path="/users"
        icon="lucideUsers"
        size="md"
        [expanded]="expanded()"
      />

      <app-sidebar-item
        text="Ressources"
        path="/ressources"
        icon="lucideBox"
        size="md"
        [expanded]="expanded()"
      />
    </app-flex>

    <!-- Footer -->
    <app-flex direction="column" gap="2xs" fullWidth>
      <app-sidebar-item
        text="Documentation"
        path="/documentation"
        icon="lucideFileText"
        size="md"
        [expanded]="expanded()"
      />

      <app-sidebar-item
        text="Paramètres"
        path="/settings"
        icon="lucideSettings"
        size="md"
        [expanded]="expanded()"
      />
      <app-separator />

      <app-button
        variant="ghost"
        size="xs"
        fullWidth
        [popover]="{
          content: rg,
          position: 'top-left',
        }"
      >
        <app-flex
          direction="row"
          alignItems="center"
          [justifyContent]="expanded() ? 'between' : 'center'"
          gap="xs"
          fullWidth
        >
          <app-flex direction="row" alignItems="center" gap="2xs">
            <app-avatar imageUrl="/img/profil.png" [size]="expanded() ? 'sm' : 'xs'" />

            @if (expanded()) {
              <app-flex direction="column" gap="4xs">
                <app-text color="text-secondary" size="sm" weight="medium"> Tom Lavergne </app-text>
              </app-flex>
            }
          </app-flex>

          @if (expanded()) {
            <app-icon name="lucideChevronsUpDown" size="xs" color="text-secondary" />
          }
        </app-flex>
      </app-button>

      <ng-template #rg>
        <app-flex direction="column" gap="2xs" padding="2xs" style="width: 300px">
          <app-flex direction="row" alignItems="center" padding="3xs" gap="xs" fullWidth>
            <app-avatar imageUrl="/img/profil.png" size="md" />
            <app-flex direction="column" gap="3xs" fullWidth>
              <app-flex alignItems="center" gap="2xs">
                <app-text color="text-primary" size="sm" weight="medium" wrap>
                  Tom Lavergne
                </app-text>

                <!-- <app-badge text="Vérifié" size="xs" color="success" /> -->
              </app-flex>

              <app-text color="text-secondary" size="xs" weight="regular" truncate wrap fullWidth>
                tom.lavergn@gmail.com
              </app-text>
            </app-flex>

            <app-button
              iconLeft="lucideArrowLeftRight"
              variant="ghost"
              size="md"
              [tooltip]="{
                content: 'Changer de compte',
              }"
            />
          </app-flex>
          <app-separator />
          <app-button text="Profil" variant="ghost" size="md" fullWidth />
          <app-button
            text="Changer de compte"
            iconLeft="lucideUsers"
            iconRight="lucideChevronRight"
            variant="ghost"
            size="md"
            fullWidth
            [popover]="{
              content: rg,
              position: 'right',
            }"
          />
          <app-button
            text="Déconnexion"
            iconLeft="lucideLogOut"
            variant="ghost"
            size="md"
            fullWidth
            (clicked)="logout()"
          />
        </app-flex>
      </ng-template>
    </app-flex>
  </app-flex>
</app-sidebar>
