@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;
@use '../../../styles/helpers.scss' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);

  $colors: joinAll($semanticColors, $primaryColors, $backgroundColors);

  @each $color-name in $colors {
    // Calcul des couleurs dérivées
    &.color-#{$color-name} {
      background-color: var(--color-#{$color-name});
    }
  }

  @each $padding in ('xs', 'sm', 'md', 'lg', 'xl') {
    &.padding-#{$padding} {
      padding: var(--padding-#{$padding});
    }
  }
}
