<button
  [attr.type]="type()"
  [attr.tabindex]="tabindex()"
  [disabled]="disabled()"
  (click)="onClick($event)"
>
  <app-flex
    class="button-content"
    direction="row"
    alignItems="center"
    justifyContent="start"
    [padding]="variant() !== 'link' ? currentConfig().padding : 'none'"
    [gap]="currentConfig().gap"
  >
    <!-- Contenu personnalisé -->
    <ng-content></ng-content>

    <!-- Left Icon -->
    @if (iconLeft()) {
      <app-icon
        [name]="iconLeft()!"
        [size]="currentConfig().iconSize"
        [color]="contentColor()"
      ></app-icon>
    }

    <!-- Text -->
    @if (text()) {
      <app-text [color]="contentColor()" [size]="currentConfig().fontSize" weight="thin" fullWidth>
        {{ text() }}
      </app-text>
    }

    <!-- Right Icon -->
    @if (iconRight()) {
      <app-icon
        [name]="iconRight()!"
        [size]="currentConfig().iconSize"
        [color]="contentColor()"
      ></app-icon>
    }
  </app-flex>
</button>
