@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;

:host {
  user-select: none;

  display: inline-block;
  flex-shrink: 1; // Permet au bouton de rétrécir dans un contexte flex
  width: fit-content; // Adapte la largeur au contenu
  border-color: transparent;

  button {
    cursor: pointer;
    border: 1px solid transparent;
    border-color: transparent;
    border-radius: var(--radius-md);
    background-color: transparent;
    white-space: nowrap; // Empêche le texte de se couper sur plusieurs lignes
  }

  // Disabled state
  &.disabled button {
    cursor: default;
    opacity: 0.5;
  }

  // Full width
  &.full-width,
  &.full-width button {
    width: 100%;
  }

  // Full height
  &.full-height,
  &.full-height button {
    height: 100%;
  }

  // Surcharge des styles avec couleurs spécifiques
  // Ces styles surchargent les styles par défaut ci-dessus

  @each $variant-name in ('solid', 'soft', 'subtle', 'outline', 'ghost', 'link') {
    @each $color-name in $colors {
      // Calcul des couleurs dérivées
      $color: var(--color-#{$color-name});
      $color-background-soft: color-mix(in srgb, $color 10%, transparent);
      $color-background-soft-hover: color-mix(in srgb, $color 15%, transparent);
      $color-border-ouline: color-mix(in srgb, $color 20%, transparent);
      $color-background-solid-hover: color-mix(in srgb, $color 85%, transparent);

      &.variant-#{$variant-name}.color-#{$color-name} button {
        // ==========================================
        // SOLID - Bouton plein avec dégradé
        // ==========================================
        @if $variant-name == 'solid' {
          background-color: $color;

          &:hover:not(:disabled) {
            background-color: $color-background-solid-hover;
          }
        }

        // ==========================================
        // SOFT - Fond coloré léger
        // ==========================================
        @else if $variant-name == 'soft' {
          background-color: $color-background-soft;

          &:hover:not(:disabled) {
            background-color: $color-background-soft-hover;
          }
        }

        // ==========================================
        // SUBTLE - Fond très léger et bordure douce
        // ==========================================
        @else if $variant-name == 'subtle' {
          background-color: $color-background-soft;
          border-color: $color-border-ouline;

          &:hover:not(:disabled) {
            background-color: $color-background-soft-hover;
          }
        }

        // ==========================================
        // OUTLINE - Bordure colorée
        // ==========================================
        @else if $variant-name == 'outline' {
          border-color: $color-border-ouline;
          background-color: var(--color-background-primary);

          &:hover:not(:disabled) {
            background-color: $color-background-soft-hover;
          }
        }

        // ==========================================
        // GHOST - Transparent
        // ==========================================
        @else if $variant-name == 'ghost' {
          &:hover:not(:disabled) {
            background-color: $color-background-soft-hover;
          }
        }

        // ==========================================
        // LINK - Bouton style lien
        // ==========================================
        @else if $variant-name == 'link' {
        }
      }
    }
  }

  @each $radius in ('none', 'xs', 'sm', 'md', 'lg', 'xl', 'full') {
    &.radius-#{$radius} button {
      border-radius: var(--radius-#{$radius});
    }
  }
}
