<!-- <div class="group row">
  <app-avatar imageUrl="/img/profil.png" size="lg" />

  <div class="col">
    <span class="name">Tom Lavergne</span>
    <span class="email"> tom.lavergn@gmail.com </span>
  </div>
</div> -->

<div class="group col">
  <!-- Bouton Profil -->
  <app-button label="Profil" variant="ghost" iconName="lucideUser" size="sm" fullWidth />

  <!-- Bouton Souscription -->
  <app-button
    label="Abonnement et souscription"
    variant="ghost"
    iconName="lucideCreditCard"
    size="sm"
    fullWidth
  />
</div>

<div class="group col">
  <!-- Bouton Changer de compte -->
  <app-popover position="right-bottom" [autoPosition]="false">
    <app-button
      label="Changer de compte"
      variant="ghost"
      iconName="lucideArrowLeftRight"
      size="sm"
      fullWidth
      displayChevronRight
    />

    <div popover-content>
      <div class="group col">
        <!-- Bouton Profil -->
        <app-button label="Profil" variant="ghost" iconName="lucideUser" size="sm" fullWidth />

        <!-- Bouton Souscription -->
        <app-button
          label="Abonnement et souscription"
          variant="ghost"
          iconName="lucideCreditCard"
          size="sm"
          fullWidth
        />
      </div>

      <div class="group col">
        <!-- Bouton Changer de compte -->

        <!-- Bouton Déconnexion -->
        <app-button
          label="Se déconnecter"
          variant="ghost"
          iconName="lucideLogOut"
          size="sm"
          fullWidth
        />
      </div>
    </div>
  </app-popover>

  <!-- Bouton Déconnexion -->
  <app-button label="Se déconnecter" variant="ghost" iconName="lucideLogOut" size="sm" fullWidth />
</div>
