@use '../../../../shared/styles/variables.scss' as *;
@use '../../../../shared/styles/helpers.scss' as *;

$colors: joinAll($semanticColors, $primaryColors, $textColors, $backgroundColors);

:host {
  display: inline-flex;
  line-height: 0;

  ng-icon {
    display: block;
    line-height: 0;
  }

  $colors: joinAll($semanticColors, $primaryColors, $textColors);

  @each $color in $colors {
    &.color-#{$color} {
      color: var(--color-#{$color});
    }
  }

  &.color-white {
    color: white;
  }

  &.color-black {
    color: black;
  }
}
