:host {
  display: flex;

  $colors: (
    'primary',
    'success',
    'warning',
    'danger',
    'info',
    'red',
    'orange',
    'amber',
    'yellow',
    'lime',
    'green',
    'emerald',
    'teal',
    'cyan',
    'sky',
    'blue',
    'indigo',
    'violet',
    'purple',
    'fuchsia',
    'pink',
    'rose',
    'white',
    'gray',
    'black'
  );
  @each $color in $colors {
    &.color-#{$color} {
      color: var(--color-#{$color}-dark);
    }
  }

  $iconColors: (
    'foreground-primary',
    'foreground-secondary',
    'foreground-primary-inverse',
    'foreground-secondary-inverse'
  );
  @each $color in $iconColors {
    &.color-#{$color} {
      color: var(--color-#{$color});
    }
  }

  &.color-white {
    color: white;
  }

  &.color-black {
    color: black;
  }

  &.color-text {
    color: var(--color-text-primary);
  }
}
