:host {
  display: flex;

  $colors: ('blue', 'green', 'red', 'orange', 'purple', 'pink', 'yellow', 'teal', 'indigo', 'gray');

  @each $color in $colors {
    &.color-#{$color} {
      color: var(--color-#{$color}-dark);
    }
  }

  &.color-white {
    color: white;
  }

  &.color-black {
    color: black;
  }

  &.color-text {
    color: var(--color-text-primary);
  }
}
