:host {
  display: flex;

  $iconColors: (
    'red',
    'orange',
    'amber',
    'yellow',
    'lime',
    'green',
    'emerald',
    'teal',
    'cyan',
    'sky',
    'blue',
    'indigo',
    'violet',
    'purple',
    'fuchsia',
    'pink',
    'rose',
    'neutral',
    'primary',
    'secondary',
    'success',
    'warning',
    'danger',
    'info',
    'text-primary',
    'text-secondary',
    'text-tertiary',
    'text-inverse',
    'text-disabled'
  );
  @each $color in $iconColors {
    &.color-#{$color} {
      color: var(--color-#{$color});
    }
  }

  &.color-white {
    color: white;
  }

  &.color-black {
    color: black;
  }
}
