<button [attr.type]="type()" [disabled]="disabled()" (click)="onClick()">
  <app-flex
    class="button-content"
    [direction]="direction()"
    alignItems="center"
    justifyContent="start"
    [padding]="currentConfig().padding"
    [gap]="currentConfig().gap"
  >
    <!-- Icone -->
    @if (icon()) {
      <app-icon
        [name]="icon()!.name"
        [size]="currentConfig().iconSize"
        [color]="contentColor()"
      ></app-icon>
    }

    <!-- Text -->
    @if (text()) {
      <app-text [color]="contentColor()" [size]="currentConfig().fontSize"> {{ text() }}</app-text>
    }
  </app-flex>
</button>
