<button [attr.type]="type()" [disabled]="disabled()" (click)="onClick()">
  <!-- <app-ripple [disabled]="disabled()"> -->
  <app-flex
    class="button-content"
    [direction]="direction()"
    alignItems="center"
    justifyContent="center"
    [padding]="size()"
    [gap]="size()"
  >
    <!-- Icone -->
    @if (icon()) {
      <app-icon [name]="icon()!.name" [size]="iconSize()" [color]="contentColor()"></app-icon>
    }

    <!-- Text -->
    @if (text()) {
      <app-text [color]="contentColor()">{{ text() }}</app-text>
    }
  </app-flex>
  <!-- </app-ripple> -->
</button>
