:host {
  display: flex;

  /*********************/
  /***** Directions *****/
  /*********************/

  &.direction-row {
    flex-direction: row;
  }
  &.direction-column {
    flex-direction: column;
  }
  &.direction-row-reverse {
    flex-direction: row-reverse;
  }
  &.direction-column-reverse {
    flex-direction: column-reverse;
  }

  /************************/
  /***** ALIGNMENTS *****/
  /************************/

  &.alignItems-start {
    align-items: flex-start;
  }

  &.alignItems-center {
    align-items: center;
  }

  &.alignItems-end {
    align-items: flex-end;
  }

  /*************************/
  /******** JUSTIFY ********/
  /*************************/

  &.justifyContent-start {
    justify-content: flex-start;
  }

  &.justifyContent-center {
    justify-content: center;
  }

  &.justifyContent-end {
    justify-content: flex-end;
  }

  &.justifyContent-between {
    justify-content: space-between;
  }

  &.justifyContent-around {
    justify-content: space-around;
  }

  /***********************/
  /********* GAP *********/
  /***********************/

  &.gap-xs {
    gap: var(--spacing-xs);
  }

  &.gap-sm {
    gap: var(--spacing-sm);
  }

  &.gap-md {
    gap: var(--spacing-md);
  }

  &.gap-lg {
    gap: var(--spacing-lg);
  }

  &.gap-xl {
    gap: var(--spacing-xl);
  }

  &.full-width {
    width: 100%;
  }
}
