:host {
  display: flex;

  /**********************/
  /***** Directions *****/
  /**********************/

  &.direction-row {
    flex-direction: row;
  }
  &.direction-column {
    flex-direction: column;
  }
  &.direction-row-reverse {
    flex-direction: row-reverse;
  }
  &.direction-column-reverse {
    flex-direction: column-reverse;
  }

  /**********************/
  /***** ALIGNMENTS *****/
  /**********************/

  &.alignItems-start {
    align-items: flex-start;
  }
  &.alignItems-center {
    align-items: center;
  }
  &.alignItems-end {
    align-items: flex-end;
  }

  /*************************/
  /******** JUSTIFY ********/
  /*************************/

  &.justifyContent-start {
    justify-content: flex-start;
  }
  &.justifyContent-center {
    justify-content: center;
  }
  &.justifyContent-end {
    justify-content: flex-end;
  }
  &.justifyContent-between {
    justify-content: space-between;
  }
  &.justifyContent-around {
    justify-content: space-around;
  }

  /***********************/
  /********* GAP *********/
  /***********************/

  &.gap-none {
    gap: none;
  }
  &.gap-2xs {
    gap: var(--spacing-2xs);
  }
  &.gap-xs {
    gap: var(--spacing-xs);
  }
  &.gap-sm {
    gap: var(--spacing-sm);
  }
  &.gap-md {
    gap: var(--spacing-md);
  }
  &.gap-lg {
    gap: var(--spacing-lg);
  }
  &.gap-xl {
    gap: var(--spacing-xl);
  }

  /************************/
  /******* PADDING *******/
  /************************/

  &.padding-none {
    padding: none;
  }
  &.padding-2xs {
    padding: var(--spacing-2xs);
  }
  &.padding-xs {
    padding: var(--spacing-xs);
  }
  &.padding-sm {
    padding: var(--spacing-sm);
  }
  &.padding-md {
    padding: var(--spacing-md);
  }
  &.padding-lg {
    padding: var(--spacing-lg);
  }
  &.padding-xl {
    padding: var(--spacing-xl);
  }

  /*********************/
  /******* SIZES *******/
  /*********************/

  &.full-width {
    width: 100%;
  }
  &.full-height {
    height: 100%;
  }
}
