@use '../../../../shared/styles/mixins.scss' as *;

:host {
  display: block;
  user-select: none;
  cursor: pointer;

  a {
    display: block;
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all var(--transition-base);

    &:hover {
      @include hover-light(var(--color-gray));
    }

    &:active:not(:disabled) {
      @include active-light(var(--color-gray));
      transform: translateY(0.5px);
    }

    &.active {
      @include hover-light(var(--color-gray));
    }
  }
}
