<app-tooltip position="right" [disabled]="expanded()">
  <a
    [routerLink]="routerLink()"
    routerLinkActive="active"
    #rla="routerLinkActive"
    (click)="onClick()"
  >
    <app-flex direction="row" alignItems="center" gap="sm">
      <app-icon
        [name]="iconName()!"
        size="20"
        [variant]="rla.isActive ? 'primary' : 'secondary'"
      ></app-icon>

      @if (expanded() == true) {
        <span class="label">{{ label() }}</span>
      }
    </app-flex>
  </a>

  <div tooltip-content>
    <span>{{ label() }}</span>
  </div>
</app-tooltip>
