<a
  [routerLink]="routerLink()"
  routerLinkActive="active"
  #rla="routerLinkActive"
  (click)="onClick()"
  [tooltip]="{
    content: label(),
    position: 'right',
    disabled: expanded(),
  }"
>
  <app-flex direction="row" alignItems="center" gap="sm">
    <app-icon [name]="iconName()!" size="20" [color]="rla.isActive ? 'text' : 'gray'"></app-icon>

    @if (expanded() == true) {
      <app-text size="md" [color]="rla.isActive ? 'text' : 'gray'" class="label">{{
        label()
      }}</app-text>
    }
  </app-flex>
</a>
