@use '../../../../shared/styles/mixins.scss' as *;

:host {
  display: block;
  user-select: none;
  width: 100%;
  cursor: pointer;

  a {
    display: block;
    padding: var(--spacing-xs);
    border-radius: var(--radius-md);
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;

    @include focus-accessible(var(--color-primary), 0px);

    &:hover {
      @include hover-light(var(--color-gray));
    }

    &:active:not(:disabled):not(.active) {
      @include active-light(var(--color-gray));
      transform: translateY(0.5px);
    }

    &.active {
      @include hover-light(var(--color-green));
    }
  }
}
