@use '../../../styles/mixins.scss' as *;

:host {
  display: inline;

  /*******************/
  /***** COLORS *****/
  /*******************/

  $colors: ('red', 'orange', 'yellow', 'green', 'teal', 'blue', 'indigo', 'purple', 'pink', 'gray');

  @each $color in $colors {
    &.color-#{$color} {
      color: var(--color-#{$color}-dark);
    }
  }

  &.color-white {
    color: white;
  }

  &.color-black {
    color: black;
  }

  &.color-primary {
    color: var(--color-text-primary);
  }
  &.color-secondary {
    color: var(--color-text-secondary);
  }
  &.color-primary-inverse {
    color: var(--color-text-primary-inverse);
  }
  &.color-secondary-inverse {
    color: var(--color-text-secondary-inverse);
  }

  /*****************/
  /***** SIZES *****/
  /*****************/

  $sizes: (
    'none',
    '6xs',
    '5xs',
    '4xs',
    '3xs',
    '2xs',
    'xs',
    'sm',
    'md',
    'lg',
    'xl',
    '2xl',
    '3xl',
    '4xl'
  );

  @each $size-name in $sizes {
    &.font-size-#{$size-name} {
      font-size: var(--font-size-#{$size-name});
    }
  }

  /******************/
  /***** WEIGHT *****/
  /******************/

  &.weight-normal {
    font-weight: var(--font-weight-normal);
  }

  &.weight-medium {
    font-weight: var(--font-weight-medium);
  }

  &.weight-semibold {
    font-weight: var(--font-weight-semibold);
  }

  &.weight-bold {
    font-weight: var(--font-weight-bold);
  }

  /*****************/
  /***** ALIGN *****/
  /*****************/

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

  &.align-justify {
    text-align: justify;
  }

  /*******************/
  /***** HELPERS *****/
  /*******************/

  &.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  /***************************/
  /***** HTML SEMANTICS *****/
  /***************************/

  &.as-h1,
  &.as-h2,
  &.as-h3,
  &.as-h4,
  &.as-h5,
  &.as-h6 {
    display: block;
    margin: 0;
  }

  &.as-p {
    display: block;
    margin: 0;
  }

  &.as-div {
    display: block;
  }

  &.as-span,
  &.as-small,
  &.as-label {
    display: inline;
  }

  &.wrap {
    white-space: normal;
  }

  &.no-wrap {
    white-space: nowrap;
  }

  &.full-width {
    width: 100%;
  }

  /**********************/
  /***** DECORATION *****/
  /**********************/

  &.decoration-none {
    text-decoration: none;
  }
  &.decoration-underline {
    text-decoration: underline;
  }
  &.decoration-line-through {
    text-decoration: line-through;
  }
  &.decoration-overline {
    text-decoration: overline;
  }
}
