:host {
  display: flex;
  min-height: 100vh;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

app-header {
  flex-shrink: 0;
}

router-outlet {
  display: none;
}

router-outlet + * {
  flex: 1;
  margin-left: 240px;
  padding: 2rem;
}
