$sizes: ('none', '6xs', '5xs', '4xs', '3xs', '2xs', 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl');

$semanticColors: ('primary', 'secondary', 'success', 'warning', 'danger', 'info');

$primaryColors: (
  'red',
  'orange',
  'yellow',
  'lime',
  'green',
  'emerald',
  'teal',
  'cyan',
  'sky',
  'blue',
  'indigo',
  'violet',
  'fuchsia',
  'pink',
  'neutral'
);

$backgroundColors: (
  'background-primary',
  'background-secondary',
  'background-tertiary',
  'background-inverse'
);

$textColors: ('text-primary', 'text-secondary', 'text-tertiary', 'text-inverse', 'text-disabled');
