@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;
@use '../../../styles/helpers.scss' as *;

:host {
  border-radius: var(--radius-md);
  white-space: nowrap;
  height: fit-content;
  transition: all var(--transition-base);
  display: inline-block;
  width: fit-content;

  // ==========================================
  // GÉNÉRATION DES VARIANTS
  // ==========================================

  $variants: ('solid', 'soft', 'outline');

  $colors: joinAll($semanticColors, $primaryColors);

  @each $variant-name in $variants {
    @each $color-name in $colors {
      // Calcul des couleurs dérivées
      $color: var(--color-#{$color-name});
      $color-background-soft: color-mix(in srgb, $color 10%, transparent);
      $color-background-soft-hover: color-mix(in srgb, $color 15%, transparent);
      $color-border-ouline: color-mix(in srgb, $color 50%, transparent);
      $color-background-solid-hover: color-mix(in srgb, $color 85%, transparent);

      &.variant-#{$variant-name}.color-#{$color-name} {
        // ==========================================
        // SOLID - Bouton plein avec dégradé
        // ==========================================
        @if $variant-name == 'solid' {
          background-color: $color;
        }

        // ==========================================
        // SOFT - Fond coloré léger
        // ==========================================
        @else if $variant-name == 'soft' {
          background-color: $color-background-soft;
        }

        // ==========================================
        // SUBTLE - Fond très léger et bordure douce
        // ==========================================
        @else if $variant-name == 'subtle' {
          background-color: $color-background-soft;
          border-color: $color-border-ouline;
        }

        // ==========================================
        // OUTLINE - Bordure colorée
        // ==========================================
        @else if $variant-name == 'outline' {
          border-color: $color-border-ouline;
        }
      }
    }
  }
}
