@use '../../../styles/mixins.scss' as *;

:host {
  display: inline-block;

  /*******************/
  /***** COLORS *****/
  /*******************/

  $colors: ('primary', 'success', 'warning', 'danger', 'info');
  @each $color in $colors {
    &.color-#{$color} {
      color: var(--color-#{$color});
    }
  }

  $textColors: (
    'red',
    'orange',
    'amber',
    'yellow',
    'lime',
    'green',
    'emerald',
    'teal',
    'cyan',
    'sky',
    'blue',
    'indigo',
    'violet',
    'purple',
    'fuchsia',
    'pink',
    'rose',
    'neutral',
    'primary',
    'secondary',
    'success',
    'warning',
    'danger',
    'info',
    'text-primary',
    'text-secondary',
    'text-tertiary',
    'text-inverse',
    'text-disabled'
  );
  @each $color in $textColors {
    &.color-#{$color} {
      color: var(--color-#{$color});
    }
  }

  &.color-white {
    color: white;
  }

  &.color-black {
    color: black;
  }

  /*****************/
  /***** SIZES *****/
  /*****************/

  $sizes: ('xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl', '4xl', '5xl');

  @each $size-name in $sizes {
    &.font-size-#{$size-name} {
      font-size: var(--font-size-#{$size-name});
      letter-spacing: var(--letter-spacing-#{$size-name});
      line-height: var(--line-height-#{$size-name});
    }
  }

  /******************/
  /***** WEIGHT *****/
  /******************/

  $weights: ('thin', 'light', 'regular', 'medium', 'semibold', 'bold');

  @each $weight in $weights {
    &.weight-#{$weight} {
      font-weight: var(--font-weight-#{$weight});
    }
  }

  /*****************/
  /***** ALIGN *****/
  /*****************/

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

  &.align-justify {
    text-align: justify;
  }

  /*******************/
  /***** HELPERS *****/
  /*******************/

  &.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  /***************************/
  /***** HTML SEMANTICS *****/
  /***************************/

  &.as-h1,
  &.as-h2,
  &.as-h3,
  &.as-h4,
  &.as-h5,
  &.as-h6 {
    display: block;
    margin: 0;
  }

  &.as-p {
    display: block;
    margin: 0;
  }

  &.as-div {
    display: block;
  }

  &.as-span,
  &.as-small,
  &.as-label {
    display: inline;
  }

  &.wrap {
    white-space: normal;
  }

  &.no-wrap {
    white-space: nowrap;
  }

  &.full-width {
    display: block;
    width: 100%;
  }

  /**********************/
  /***** DECORATION *****/
  /**********************/

  &.decoration-none {
    text-decoration: none;
  }
  &.decoration-underline {
    text-decoration: underline;
  }
  &.decoration-line-through {
    text-decoration: line-through;
  }
  &.decoration-overline {
    text-decoration: overline;
  }
}
