@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;
@use '../../../styles/helpers.scss' as *;

:host {
  display: inline-block;

  /*******************/
  /***** COLORS *****/
  /*******************/

  $colors: joinAll($semanticColors, $primaryColors, $textColors);

  @each $color in $colors {
    &.color-#{$color} {
      color: var(--color-#{$color});
    }
  }

  &.color-white {
    color: white;
  }

  &.color-black {
    color: black;
  }

  /*****************/
  /***** SIZES *****/
  /*****************/

  @each $size-name in ('xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl', '4xl', '5xl') {
    &.font-size-#{$size-name} {
      font-size: var(--font-size-#{$size-name});
      letter-spacing: var(--letter-spacing-#{$size-name});
      line-height: var(--line-height-#{$size-name});
    }
  }

  /******************/
  /***** WEIGHT *****/
  /******************/

  @each $weight in ('thin', 'light', 'regular', 'medium', 'semibold', 'bold') {
    &.weight-#{$weight} {
      font-weight: var(--font-weight-#{$weight});
    }
  }

  /*****************/
  /***** ALIGN *****/
  /*****************/

  @each $align in ('left', 'center', 'right', 'justify') {
    &.align-#{$align} {
      text-align: #{$align};
    }
  }

  /*******************/
  /***** HELPERS *****/
  /*******************/

  &.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  /***************************/
  /***** HTML SEMANTICS *****/
  /***************************/

  &.as-h1,
  &.as-h2,
  &.as-h3,
  &.as-h4,
  &.as-h5,
  &.as-h6 {
    display: block;
    margin: 0;
  }

  &.as-p {
    display: block;
    margin: 0;
  }

  &.as-div {
    display: block;
  }

  &.as-span,
  &.as-small,
  &.as-label {
    display: inline;
  }

  &.wrap {
    white-space: normal;
  }

  &.no-wrap {
    white-space: nowrap;
  }

  &.full-width {
    display: block;
    width: 100%;
  }

  /**********************/
  /***** DECORATION *****/
  /**********************/

  @each $decoration in ('none', 'underline', 'line-through', 'overline') {
    &.decoration-#{$decoration} {
      text-decoration: #{$decoration};
    }
  }
}
