:host {
  display: block;
  background-color: transparent;
  cursor: pointer;
  min-height: 20px; // Assure une zone cliquable minimale

  &.full-height {
    height: 100%;
  }

  &.full-width {
    width: 100%;
  }
}
