<div class="tooltip-wrapper">
  <!-- Trigger -->
  <div
    #trigger
    class="tooltip-trigger"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (focus)="onFocus()"
    (blur)="onBlur()"
  >
    <ng-content></ng-content>
  </div>

  <!-- Tooltip -->
  @if (isVisible() && !disabled()) {
    <div
      #tooltipElement
      class="tooltip-content"
      [attr.data-position]="finalPosition()"
      role="tooltip"
    >
      <div class="tooltip-content-arrow"></div>

      @if (text()) {
        {{ text() }}
      } @else {
        <ng-content select="[tooltip-content]"></ng-content>
      }
    </div>
  }
</div>
