:host {
  border-radius: var(--radius-xl);
  overflow: hidden;
  transition: all var(--transition-base);

  .card-header {
    padding: var(--spacing-md);
    border-bottom: 1px solid var(--color-border);

    &:not(:has(*)) {
      display: none;
    }
  }

  .card-body {
    padding: var(--spacing-md);
  }

  .card-footer {
    padding: var(--spacing-md);
    border-top: 1px solid var(--color-border);
    background-color: var(--color-surface-hover);

    &:not(:has(*)) {
      display: none;
    }
  }

  &.variant-soft {
    background-color: var(--color-surface);
  }
  &.variant-outline {
    background-color: var(--color-background);
    border: 1px solid var(--color-border);

    box-shadow: none;
  }
  &.variant-ghost {
    background-color: transparent;
    box-shadow: none;
    border: none;

    &:hover {
      background-color: var(--color-surface-hover);
    }
  }
  &.variant-elevated {
    background-color: var(--color-surface);
    box-shadow: var(--shadow-md);
  }
}
