<app-flex direction="row" alignItems="center" gap="md" fullWidth>
  <!-- Icon -->
  @if (icon()) {
    <app-icon [name]="icon()!" size="24" [color]="contentColor()!" />
  }

  <app-flex direction="column" gap="xs" fullWidth>
    <!--  Title -->
    @if (title()) {
      <app-text as="h2" TextVariant="body" size="lg" [color]="contentColor()!">{{
        title()
      }}</app-text>
    }

    <!-- Message -->
    <app-text as="p" TextVariant="body" size="sm" [color]="contentColor()!">{{
      message()
    }}</app-text>
  </app-flex>

  <!-- Action button -->
  @if (button()) {
    <app-button
      [variant]="buttonVariant()"
      [color]="color()!"
      size="sm"
      [text]="button()!.text"
      [icon]="{ name: button()!.icon!.name, position: button()!.icon!.position ?? 'left' }"
      borderRadius="full"
      (clicked)="button()!.callback()"
    />
  }

  <!-- Dismiss button -->
  @if (dismissible()) {
    <app-button
      [variant]="buttonVariant()"
      [color]="color()!"
      size="sm"
      [icon]="{ name: 'lucideX' }"
      borderRadius="full"
      (clicked)="onDismiss()"
    />
  }
</app-flex>
