@use '../../../../shared/styles/variables.scss' as *;

:host {
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  border: 1px solid;
  box-shadow: var(--shadow-lg);
  width: 100%;
  transition: all 0.2s ease;

  @starting-style {
    opacity: 0;
    transform: translateY(-20px) !important;
  }

  @each $color in $colors {
    &.color-#{$color} {
      background-color: color-mix(
        in srgb,
        var(--color-#{$color}) 10%,
        var(--color-background-primary) 90%
      );
      border-color: color-mix(in srgb, var(--color-#{$color}) 30%, var(--color-background-primary));
    }
  }
}
