<app-flex gap="3xl" alignItems="center" fullWidth>
  <app-flex gap="sm" alignItems="center" fullWidth>
    @if (defaultIcon()) {
      <app-icon [name]="defaultIcon()!" size="sm" [color]="color()!" />
    }

    <app-flex direction="column" gap="3xs" fullWidth>
      @if (title()) {
        <app-text size="sm" weight="medium" [color]="color()!">
          {{ title() }}
        </app-text>
      }

      <app-text size="xs" [color]="color()!">
        {{ message() }}
      </app-text>
    </app-flex>
  </app-flex>

  <app-flex gap="sm" alignItems="center">
    @if (action()) {
      <app-button
        [text]="action()?.label!"
        variant="solid"
        size="sm"
        [color]="color()!"
        (click)="action()!.callback()"
      />
    }

    @if (dismissible()) {
      <app-button
        variant="ghost"
        size="sm"
        iconLeft="lucideX"
        [color]="color()!"
        (click)="onDismiss()"
      />
    }
  </app-flex>
</app-flex>
