@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;

:host {
  .header {
    cursor: pointer;
    user-select: none;
  }

  @include focus-accessible();

  .content {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    animation: slideDown 0.2s ease-out;
  }

  // Génération des variants
  $colors: ('red', 'orange', 'yellow', 'green', 'teal', 'blue', 'indigo', 'purple', 'pink', 'gray');
  $variants: ('soft', 'ghost');

  @each $variant-name in $variants {
    @each $color-name in $colors {
      $color: var(--color-#{$color-name});

      &.variant-#{$variant-name}.color-#{$color-name} {
        // Soft variant
        @if $variant-name == 'soft' {
          border-radius: var(--radius-md);
          border: 1px solid color-mix(in srgb, $color 20%, transparent);
          @include hover-light($color);

          .content {
            border-top: 1px solid color-mix(in srgb, $color 20%, transparent);
          }

          &:has(.header:hover:not(:disabled)) {
            @include hover-light($color);
          }

          &:has(.header:active:not(:disabled)) {
            @include active-light($color);
          }
        }

        // Ghost variant
        @else if $variant-name == 'ghost' {
          background-color: transparent;

          .header {
            border: 1px solid transparent;
            border-radius: var(--radius-md);

            &:hover:not(:disabled) {
              @include hover-light($color);
              transform: translateY(0.5px);
            }

            &:active:not(:disabled) {
              @include active-light($color);
              transform: translateY(1px);
            }
          }
        }
      }
    }
  }
}
