<app-flex direction="column" fullWidth>
  <!-- Header -->
  <app-flex
    direction="row"
    justifyContent="between"
    alignItems="center"
    [gap]="currentConfig().header.gap"
    [padding]="currentConfig().header.padding"
    class="header"
    fullWidth
    (click)="toggle()"
  >
    <!-- Left part -->
    <app-flex direction="row" alignItems="center" [gap]="currentConfig().header.gap">
      <!-- Icon -->
      @if (iconLeftName()) {
        <app-icon
          [name]="iconLeftName()!"
          [size]="currentConfig().header.iconSize"
          [color]="contentColor()"
        ></app-icon>
      }

      <!-- Text -->
      <app-text [size]="currentConfig().header.fontSize" [color]="contentColor()">
        {{ title() }}
      </app-text>
    </app-flex>

    <!-- Chevron -->
    <app-icon
      [size]="currentConfig().header.iconSize"
      [color]="contentColor()"
      [name]="isOpen() ? 'lucideChevronUp' : 'lucideChevronDown'"
    />
  </app-flex>

  <!-- Content -->
  @if (isOpen()) {
    <app-flex
      class="content"
      [padding]="contentPadding() ? currentConfig().content.padding : 'none'"
      fullWidth
    >
      <ng-content></ng-content>
    </app-flex>
  }
</app-flex>
